<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>개인 정보 수정</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/join.js}" defer></script>
</head>
<div layout:fragment="content">
    <div class="row d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    회원 가입
                </div>
                <div class="card-body">
                    <form id="registerForm">
                        <div class="input-group mb-4">
                            <span class="input-group-text">아이디</span>
                            <input type="text" class="form-control" name="mid">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text">비밀번호</span>
                            <input type="password" class="form-control" name="mpw">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text">이메일</span>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="float-end">
                            <div class="my-4">
                                <button type="button" class="btn btn-primary registerBtn">제출</button>
                                <button type="reset" class="btn btn-secondary clearBtn">리셋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--card end -->
        </div><!--col end -->
    </div><!--row end -->
    <script src="https://www.unpkg.com/axios/dist/axios.min.js"></script>
</div><!--layout fragment content end-->
<script layout:fragment="script" th:inline="javascript">

</script>
</html>